.tourMain{
    padding-top: 100px;
    min-height: 85vh;
    background-image: url('https://wallpapersmug.com/download/1224x1224/5877e7/lake-sunset-orange-minimal-dark.jpg');
    background-size:cover;
}
main .container
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
   
}
main .container .box{
    width: 350px;
    border-radius: 5px;
    
    background-color: gray;
    margin: 20px 0;
    text-align: center;
    overflow: hidden;
    
}
.tourBoxApp{
    position: relative;
    
}
main .container .box img:hover{
    transform: scale(105%);
}
main .container .box a{
    text-decoration: none;
    color: white;
}
main .container .box img{
    width: 350px;
    height: 350px;
}

footer{
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
footer h2,footer p{
    width: 50%;
}